@import "../../responsive.scss";
.searchBar{
    .type{
        button{
            padding: 16px 36px;
            border: 1px solid grey;
            background-color: white;
            cursor: pointer;
            text-transform: uppercase;
            &.active{
                background-color: black;
                color: white;
            }

            &:first-child{
                border-top-left-radius: 5px;
                border-right: none;

                @include sm{
                    border-bottom: 1px solid;
                }
            }

            &:last-child{
                border-top-right-radius: 5px;
                border-left: none;
            }

            
            
        }
    }

    form{
        border: 1px solid grey;
        display: flex;
        justify-content: space-between;
        height: 60px;
        gap: 5px;

        @include sm{
            flex-direction: column;
            border: none;
        }

        input{
            border: none;
            padding: 0 10px;
            width: 180px;

            @include lg{
                padding: 0px 5px;

                &:nth-child(2), &:nth-child(3){
                    width: 130px;
                }
            }

            @include md{
                width: 150px;
                
                &:nth-child(2), &:nth-child(3){
                    width: auto;
                }
            }

            @include sm{
                padding: 20px;
                border-bottom: 1px solid black;
            }
        }

        button{
            border: none;
            cursor: pointer;
            background-color: orange;
            flex: 1;

            @include sm{
                padding: 10px;
            }

            img{
                width: 20px;
                height: 20px;
            }
        }
    }
}